SMTP_HOST=smtp.google.com
SMTP_PORT=587                 # 25; 2525; 465 (SSL); 587 (TLS)
SMTP_STARTTLS=true
SMTP_USERNAME=
SMTP_PASSWORD=
SKIP_CERT_VERIFY=
SMTP_MAX_LETTER_SIZE=83886080
LISTEN_HOST=0.0.0.0
PORT=2525
ALLOWED_HOSTS=*               # 192.168.0.0/16,10.0.0.0/8
TIMEOUT=30                    # seconds
